* {
    margin: 0px;
    padding: 0px;
    
}

header {
    background-image: url("./imagenes/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    color: white;
    font-size: 3vw;
    padding-top: 120px;
    padding-bottom: 170px;
    padding-left: 30px;
}

h1 {
    color: rgb(230, 122, 140);
    text-align: center;
}



#foto {
    width:20%;
    margin: 1.8%;
    border-radius: 15px;
    margin-top:50px;
    margin-bottom:50px;
}


#todo {
    padding: 20px;
}

#texto {
    padding: 30px;
}

#wrapper {
    background-color: rgb(207, 188, 188);
    width: 100%;
}

body {
    margin-top:10px;
    margin-bottom: 3px;
    margin-left:50px;
    margin-right:50px;
    background-color: rgb(231, 185, 193);
}

footer {
    text-align: center;
    background-color: rgb(54, 124, 204);
    padding: 10px;
    color: white;
}

/* SideNav*/

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(54, 124, 204);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  background-color: rgb(54, 124, 204);
}

.sidenav a:hover {
    color: rgb(231, 185, 193);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*Opacidad de las imagenes*/



  #wrapper2:hover #foto {
    opacity: 0.8;
  }


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@font-face {
    font-family: 'Electrolize';
    font-weight: 300;
    src: local('Electrolize'),url(Electrolize.ttf)format('truetype'),url(Electrolize.woff)format('woff');}

@media only screen and (max-width: 900px) {
    #foto {width: 46%}
}

@media only screen and (max-width: 600px) {
    #foto {width: 100%}
    header {background-image: url("./imagenes/header2.png");
            background-repeat: no-repeat;
            background-size: cover;}
    body {
        margin-left: 10px;
        margin-right: 10px;
    }
}